/* Cart dropdown*/


/* Checkout */
.wrapper-table{
	width: 50%;
	margin-left: 4oem;
}


/* index-kopia */
.container-index{
	display: inline-grid;
	margin: 1em 1.6em;
}

.card-index{
	height: 20em;
	min-height: 10em;
	width: 500px;
	border: 1px solid black;
}
.card-specific {
	margin-top: 3em;
	height: 60em;
	min-height: 30em;
	width: 500px;
	border: 1px solid black;
}


.description-wrapper{
	/* border: 1px solid black; */
	height: 6em;
	min-height: 4em;
}

/* Christoffer CSS */
/* header */

/* formulär */
.form {
	width: 60%;
	}
	.btn-form {
	margin-left: 70%;
	}
	.message{
		width: 60%;
	}
	/* Login-account */
	.login-nav{
		margin-left: 50%;
		display: flex;
	}
	.wrapper-login {
		border-radius: 5px;
		margin-top: 1em;
		width: 50%;
	}
	.wrapper-login h2 {
		text-align: center;
	}
	.wrapper-login-new-user{
		margin-top: 3em;
		height: 100px;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.wrapper-login-new-user a {
		margin-top: 1em;
	}
	/* Register account */
	.wrapper-register {
		text-align: center;
		width: 100%;
	}
	.message-register{
		width: 100%;
	}
	/* My account */
	.btn-primary{
		margin-right: 1em;
	}

	
	
	 /* Fredriks css */
	#fredriks-tbl { 
		border-collapse: collapse; 
		margin-bottom: 40px;
		
		
		
	}
	
	#fredriks-tbl tr,
	#fredriks-tbl td,
	#fredriks-tbl th {
		border: 1px solid rgb(0, 0, 0);
		padding: 10px;
		
		
		
	}
	
	.fredriks-huvudrubrik {
	text-align: center;
	} 
	
	.fredriks-underrubrik  {
		text-align: center;
		} 

		
	.tabell{
		text-align: center;
	}

	.fredriks-centrering  {
		margin-left:auto; 
    	margin-right:auto;
  }


	
  #products-tbl { 
	border-collapse: collapse; 
	margin-bottom: 40px;
	text-align: center;

}

#products-tbl tr,
#products-tbl td,
#products-tbl th {
	border: 1px solid blue;
	padding: 10px;
	text-align: center;
}



#numberId1, #numberId2  {
	width: 4em;
}